<li style="margin-bottom: 8px" class="list-group-item">
	<h4 data-type="textarea" data-name="content-name" class="content list-group-item-heading" data-pk="<%= data._id %>" data-url="/twit"><%= data.content %></h4>
	<div><i class="pull-right list-group-item-text small"><%= moment(data.date).fromNow(); %></i></div>
	<span style="cursor: pointer;" data-val="<%= data._id %>" class="delete glyphicon glyphicon-trash" aria-hidden="true"></span>
</li>
